export(marpoly_ar_ols)
export(marpoly_dft)
export(marpoly_diagnostics)
export(marpoly_errors)
export(marpoly_fit)
export(marpoly_fit_all)
export(marpoly_order_sets)
export(marpoly_periodogram)
export(marpoly_periodograms)
export(marpoly_plot)
export(marpoly_rank)
export(marpoly_residuals)
export(marpoly_rinnov)
export(marpoly_root_allocations)
export(marpoly_rskewt)
export(marpoly_select_p)
export(marpoly_simulate)
export(marpoly_spectrum)
export(marpoly_spectra)
export(marpoly_stationary)
export(marpoly_transfer)
export(MAR_spectrum_indices)
export(MAR_bispectrum_pairs)
export(MAR_trispectrum_tuples)
export(MAR_estimate_causal_eta)
export(MAR_select_p_second_order)
export(MAR_all_specs_from_p)
export(MAR_auto_starts_from_eta)
export(MAR_model_errors)
export(MAR_error_diagnostics)
export(MAR_objective_prepare)
export(MAR_standard_errors)
export(MAR_spectral_estimate)
export(MAR_root_combination_table)
export(MAR_best_models_table)
export(MAR_report)
export(MAR_select_all_by_second_order)
export(MAR_select_all_fixed_p)
export(MAR_select_all_by_auto_arima)
export(MAR_all_order_sets)
export(MAR_select_by_order_sets)
export(simulate_MAR)
export(rskt)
S3method(coef,marpoly_ar)
S3method(coef,marpoly_fit)
S3method(fitted,marpoly_ar)
S3method(plot,marpoly_fit)
S3method(plot,marpoly_periodogram)
S3method(plot,marpoly_spectrum)
S3method(print,marpoly_ar)
S3method(print,marpoly_ar_selection)
S3method(print,marpoly_diagnostics)
S3method(print,marpoly_fit)
S3method(print,marpoly_rank)
S3method(print,marpoly_sim)
S3method(print,summary_marpoly_ar)
S3method(print,summary_marpoly_fit)
S3method(print,MAR_fit)
S3method(print,MAR_selection)
S3method(residuals,marpoly_ar)
S3method(residuals,marpoly_fit)
S3method(summary,marpoly_ar)
S3method(summary,marpoly_fit)
importFrom(graphics,abline)
importFrom(graphics,image)
importFrom(graphics,legend)
importFrom(graphics,lines)
importFrom(graphics,matplot)
importFrom(graphics,par)
importFrom(graphics,plot)
importFrom(graphics,title)
importFrom(stats,Box.test)
importFrom(stats,acf)
importFrom(stats,coef)
importFrom(stats,embed)
importFrom(stats,fft)
importFrom(stats,fitted)
importFrom(stats,lm)
importFrom(stats,na.pass)
importFrom(stats,optim)
importFrom(stats,pnorm)
importFrom(stats,pt)
importFrom(stats,residuals)
importFrom(stats,rnorm)
importFrom(stats,rt)
importFrom(stats,runif)
importFrom(stats,sd)
importFrom(stats,var)
importFrom(utils,combn)
importFrom(utils,head)
